# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
.env*

translateCache-*
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# certs need to be created locally to be trusted
.cert
.cert.local
